<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{data.event.name}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css'>
  <link rel='stylesheet'
    href='https://fonts.googleapis.com/css?family=Source+Code+Pro:700,900|Source+Sans+Pro:300,400,700'>
  <link rel="stylesheet" href="{{url_for('static', filename='fade-out-card/style.css')}}">
</head>

<body>
  <a href="#">
    <figure>
      <div class="date"><span class="card-date-day">{{data.event.date}}</span><span class="card-date-month">{{data.event.month}}</span></div>
      <figcaption>
        <h4> <span>{{data.receiver}}</span></h4>
        <p>Its your day, live it like there's no tomorrow </p>
      </figcaption>
    </figure>
  </a>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
</body>

</html>