<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{data.card.name}}</title>
  <link rel="stylesheet" href="{{url_for('static', filename='3d-card/style.css')}}">
</head>

<body>
  <div id="card">
    <div id="card-inside">
      <div class="wrap">
        <p>Hi {{data.receiver}},</p>
        <p>Congratulations with your {{data.event.name}}</p>
        <p>Enjoy your day.</p>
        <p>May you live a very long and prosperous life.</p>
        <p>Wishing you the best year yet. Eat much :))</p>
        <p class="signed">{{data.sender}}</p>
      </div>
    </div>

    <div id="card-front">
      <div class="wrap">
        <h1>{{data.event.name}}</h1>
      </div>
      <button id="open">&gt;</button>
      <button id="close">&lt;</button>
    </div>
  </div>
  <script src="{{url_for('static', filename='3d-card/script.js')}}"></script>
</body>

</html>