<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{data.event.name}}</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css'>
  <link rel='stylesheet'
    href='https://fonts.googleapis.com/css?family=Source+Code+Pro:700,900|Source+Sans+Pro:300,400,700'>
  <link rel='stylesheet' href="{{url_for('static', filename='index.css')}}">

</head>

<body>
  <a href="#">
    <figure>
      <div class="date"><span class="card-date-day">{{data.event.date}}</span><span
          class="card-date-month">{{data.event.month}}</span></div>
      <figcaption>
        <div>
          <h4>
            <span>Greeter</span>
          </h4>
        </div>
        <div class="wrapper">
          <button type="button" class="btn btn-primary"
            onclick="window.location.href='{{ url_for( 'cards') }}';">Cards</button>
          <button type="button" class="btn btn-primary"
            onclick="window.location.href='{{ url_for( 'cake') }}';">Cake</button>
        </div>
      </figcaption>
    </figure>
  </a>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>