<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>3D Birthday Cake</title>
  <link rel="stylesheet" href="{{url_for('static', filename='3d-cake/style.css')}}">
</head>

<body>
  <script src="{{url_for('static', filename='3d-cake/cake-script.js')}}"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r123/three.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/three@0.123/examples/js/controls/OrbitControls.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/three@0.123/examples/js/modifiers/SubdivisionModifier.js'></script>
  <script src="{{url_for('static', filename='3d-cake/render-script.js')}}"></script>
</body>

</html>