<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Birthday Card</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{{url_for('static', filename='3d-flip-card/style.css')}}">
</head>

<body>
  <div class="card">
    <div class="outside">
      <div class="front">
        <p>Happy Birthday</p>
        <div class="cake">
          <div class="top-layer"></div>
          <div class="middle-layer"></div>
          <div class="bottom-layer"></div>
          <div class="candle"></div>
        </div>
      </div>
      <div class="back"></div>
    </div>
    <div class="inside">
      <p>Wishing you a very happy birthday filled with laughter</p>
      <h1>&#127873;</h1>
    </div>
  </div>
</body>

</html>